exercises/12_1/nome-app/node_modules/
exercises/12_2/my-pokedex/node_modules/
exercises/13_1/exerciciofixacao1/node_modules/
exercises/14_1/exercicio01/node_modules/
exercises/13_1/pokedexstateful/node_modules/
exercises/14.3/fixation-exercises-14-3/
/home/claytonpereira/Documentos/projects/Trybe_Exercicio_Projetos/node_modules/
node_modules